@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    overflow-x: hidden !important;
    color: #e5e5e5;
    transition: all 200ms ease-in-out;
}

button:focus, input:focus{
    outline: none;
    border: none;
}